.p-datatable tbody td {
    text-align: center !important;
  }
  
  .action-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
   }
   
   .action-button {
    transition: transform 0.2s;
   }
   
   .action-button:hover {
    transform: scale(1.1);
   }